#Enables WebSocket in HTTPD server component
CONFIG_HTTPD_WS_SUPPORT=y

# Add all debug logs into compiled source files
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y

# Set the actual logging verbosity level (3=INFO, 4=DEBUG)
CONFIG_LOG_DEFAULT_LEVEL=4

CONFIG_LOG_MAXIMUM_LEVEL=4
