menu "Motor GPIO Configuration"

    config LEFT_MOTOR
        int "Left motor direction pin"
        default 33


    config LEFT_MOTOR_PWM
        int "Left motor PWM speed pin"
        default 32


    config RIGHT_MOTOR
        int "Right motor direction pin"
        default 13


    config RIGHT_MOTOR_PWM
        int "Right motor PWM speed pin"
        default 27


endmenu